* {
    box-sizing: border-box;
    font-family: "'Museo Sans',Arial,Helvetica,sans-serif";
}

.login {
    width: 50%;
    border-radius: 5px;
    margin: 100px auto;
    background-color: #E0E0E0;
}

@media screen and (max-width: 600px) {
    .login {
        width: 100%;
    }
}

.login > header {
    position: relative;
    font-size: 1.125em;
    line-height: 1.3333333333;
    font-weight: bold;
    color: #fff;
    background: #6d6e70;
    padding: 1em;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.login > header > h1 {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}

.group {
    margin-top: 50px;
}

.group > .login-left {
    display: inline-block;
    width: 25%;
}
.group > .login-right {
    display: inline-block;
    width: 75%;
}

.login-left > label {
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 80px;
}
.login-right > input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0.5em;
    background-color: #FFF;
    width: 60%;
    word-spacing: normal;
}

.last  {
    text-align: center;
    margin-bottom: 20px
}
