.Main-logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-input {
    margin: 100px auto 0px auto;
    background-color: #C74907;
    border: 5px solid #C74907;
    border-radius: 5px;
    color: #FFF;
    font-size: 35px;
    padding: 4px 18px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.App-input-last {
    margin-bottom: 50px;
}
