.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.input {
    margin: 200px auto 0px auto;
    background-color: #C74907;
    border: 5px solid #C74907;
    border-radius: 5px;
    color: #FFF;
    font-size: 50px;
    height: 50px;
    padding: 4px 18px;
    width: 850px;
    text-align: center;
}
